<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RegistrationEntities" connectionString="metadata=res://*/Registration.csdl|res://*/Registration.ssdl|res://*/Registration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WHTORRESLAP;initial catalog=Selery;persist security info=True;user id=selery;password=B3he4l7h;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkoutEntities" connectionString="metadata=res://*/Workout.csdl|res://*/Workout.ssdl|res://*/Workout.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WHTORRESLAP;initial catalog=Selery;persist security info=True;user id=selery;password=B3he4l7h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NutritionEntities" connectionString="metadata=res://*/Nutrition.csdl|res://*/Nutrition.ssdl|res://*/Nutrition.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WHTORRESLAP;initial catalog=Selery;persist security info=True;user id=selery;password=B3he4l7h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="B2BEntities" connectionString="metadata=res://*/B2B.csdl|res://*/B2B.ssdl|res://*/B2B.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WHTORRESLAP;initial catalog=Selery;persist security info=True;user id=selery;password=B3he4l7h;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>